<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>Natasya Kamarudin</title>
  </head>
  <body>
    <!-- <div class="container"> -->
        <%- include('partials/nav') %>

      <section>
        <div class="text-left pt-5 pl-5 pr-5">
          <span style="color:yellow"><h1 class="display-5">
            <p>Natasya Kamarudin is who you would</p>
            <p>call the "Jack of all trades, master</p>
            <p>of none," and remind you of</p>
            <p>the latter more important</p>
            <p>part of the saying which goes, "But</p>
            <p>oftentimes better than a master of one."</p></h1>
          </span>
          
        </div>
      </section>

      <div id="work">
      <section class="section-kiri">
        
        <div class="text-left mt-5 pt-5 pl-5 pr-5">
          <p></p><span style="color:black"><h1 class="display-4">
            <p>Photography Assignments</p>
            </h1>
          </span>
          
        </div>
      
      </section>
      </div>
    
      <div id="contact">
        <section class="section-kiri">
          
          <div class="text-left mt-5 pt-5 pl-5 pr-5">
            <p></p><span style="color:black"><h1 class="display-4">
              <p>Contact</p>
              </h1>
            </span>
            
          </div>
        
        </section>
        </div>
    <!-- </div> -->

    <%- include('partials/scripts') %>
  </body>
</html>