<!doctype html>
<html lang="en">
  <head>
    
    <%- include('partials/head') %>

    <title>Natasya Kamarudin</title>
  </head>
  <body>
    <div class="container">
        <%- include('partials/nav') %>
    
    </div>

    <%- include('partials/scripts') %>
  </body>
</html>