@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Spartan', sans-serif;
}

body {
    /* background-color: white; */
    background-image: url('/img/a.jpg');
    cursor: url('/img/cursor.png'), auto;

    background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

section {
    min-height: 73vh;
    
}

section.section-kiri {
    min-height: 100vh;
    background-color: white;
    /* background-image: url('/img/backg.JPG'); */
}

.navbar-brand{
    font-weight: 700;
    font-size: 28px;
}


